<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Resources", resource_path %></li> 
		<li><%= link_to "Organisations", ogranisation_path %></li> 
		<li><%= link_to "What is here?", what_is_here_path %></li> 
		<li><%= link_to "Events", event_path %></li> 
		<li><%= link_to "Contact Us", contact_us_path %></li> 
	</ul> 
</nav>