<!-- <nav id="main_nav">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Resources", home_resource_path %></li> 
		<li><%= link_to "Organisations", home_ogranisation_path %></li> 
		<li><%= link_to "What is here?", home_what_is_here_path %></li> 
		<li><%= link_to "Events", home_event_path %></li> 
		<li><%= link_to "Contact Us", home_contact_us_path %></li> 
	</ul> 
</nav> -->



<ul class="meun">
		<li class="meun green">
			<p><%= link_to "Home", root_path, :class =>"meun_link"%></p>
			<br>
			<p class="subtext">HOME PAGE</p>
		</li>
		<li class="meun yellow">
			<p><%= link_to "Resources", home_resource_path, :class =>"meun_link" %></p>
			<br>
			<p class="subtext">Resources</p>
		</li> 
		<li class="meun purple">
			<p><%= link_to "Organisations", home_ogranisation_path, :class =>"meun_link" %></p>
			<br>
			<p class="subtext">Organisations</p>
		</li> 
		<li class="meun blue">
			<p><%= link_to "What is here?", home_what_is_here_path, :class =>"meun_link" %></p>
			<br>
			<p class="subtext">What is here?</p>
		</li>
		<li class="meun red">
			<p><%= link_to "Contact Us", home_contact_us_path, :class =>"meun_link" %></p>
			<br>
			<p class="subtext">Contact us</p>
		</li>
</ul class="meun"> 



