<nav>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Resources", home_resource_path %></li> 
		<li><%= link_to "Organisations", home_ogranisation_path %></li> 
		<li><%= link_to "What is here?", home_what_is_here_path %></li> 
		<li><%= link_to "Events", home_event_path %></li> 
		<li><%= link_to "Contact Us", home_contact_us_path %></li> 
	</ul> 
</nav>